<!doctype html>
<head>
  <meta charset="utf-8">
  <style>
    {{ css }}

    .content {
      margin: 5px;
      border: 1px solid #bbb;
      padding: 5px;
      white-space: pre-wrap;
    }

    .vertical-scroll {
      white-space: pre !important;
      overflow-x: visible;
    }

    .html-container {
      border: 4px solid #bd4147;
      padding: 10px;
      margin: 2px;
    }

    h5 {
      text-align: center;
      margin-top: 12px;
    }

    h4 {
      margin-top: 15px;
    }
  </style>
</head>

<body>
<div class="container container-fluid">

  <div class="row">
    <div class="col-lg-12">

      {% if 'filename' in data %}
        <h4>{{ '#' + id + ': ' + data.get('filename') }}</h4>
      {% else %}
        <h4>{{ '#' + id }}</h4>
      {% endif %}

      {% if embed %}
        <a class="btn btn-info" id="plain_url" target="_blank"
          role="button">Open in new tab</a>
        <script>
          document.querySelector('#plain_url')
            .setAttribute('href', window.location.href.split('?')[0])
        </script>
      {% else %}
        {% if parent_id != None %}
          <a href="{{ parent_id }}" class="btn btn-info" role="button">Up</a>
        {% endif %}

        {% if data.type != 'folder' %}
          <a href="./{{ id }}/raw/{{ uriencode(data.filename) }}"
             class="btn btn-primary" role="button">Original file</a>
        {% endif %}

        {% if as_eml %}
          <a href="./{{ id }}/eml/{{ as_eml }}"
             class="btn btn-primary" role="button">as .eml file</a>
        {% endif %}

        {% for tag in data.get('ocr', {}) %}
          <a href="./{{ id }}/ocr/{{ tag }}/{{ uriencode(data.filename) }}"
             class="btn btn-secondary" role="button">OCR {{ tag }}</a>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h5>Meta</h5>

      <table class="table table-striped table-sm">
        <tbody>
        <tr>
          <td> Path:</td>
          <td><b><code>{{ data.get('path') }}</code></b>
          </td>
        </tr>

        <tr>
          <td> Filename:</td>
          <td>
            <b><code>{{ data.get('filename') }}</code></b>
          </td>
        </tr>

        <tr>
          <td> Type:</td>
          <td><code>{{ data.get('type') }}</code></td>
        </tr>

        {% if data.type != 'folder' and 'sha1' in data %}
          <tr>
            <td> MD5:</td>
            <td><code>{{ data.md5 }}</code></td>
          </tr>
          <tr>
            <td> SHA1:</td>
            <td><code>{{ data.sha1 }}</code></td>
          </tr>
        {% endif %}


        {% if data.lang %}
          <tr>
            <td> Language:</td>
            <td><code>{{ data.lang }}</code></td>
          </tr>
        {% endif %}

        {% if data.get('type') in ['pdf', 'doc'] %}
          <tr>
            <td> Created:</td>
            <td>{{ data.get('date-created') }}</td>
          </tr>

          <tr>
            <td> Modified:</td>
            <td>{{ data.get('date') }}</td>
          </tr>
        {% endif %}


        {% if 'pgp' in data %}
          <tr>
            <td> PGP:</td>
            <td><b>{{ data.get('pgp') }}</b></td>
          </tr>
        {% endif %}

        {% if data.type == 'email' %}
          <tr>
            <td> From:</td>
            <td>{{ data.get('from') }}</td>
          </tr>

          <tr>
            <td> To:</td>
            <td>{{ data.get('to', [])|join(', ') }}</td>
          </tr>

          <tr>
            <td> Date:</td>
            <td>{{ data.get('date') }}</td>
          </tr>

          <tr>
            <td> Subject:</td>
            <td><b>{{ data.get('subject') }}</b></td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  {% if attachments %}
    <div class="row">
      <div class="col-lg-12">
        <h5>Attachments</h5>
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>Filename</th>
            <th>Content-Type</th>
            <th>Open</th>
            <th>Original</th>
          </tr>
          </thead>
          <tbody>
          {% for attachment in attachments %}
            <tr>
              <td>
                {% if attachment.id %}
                  <a href="./{{ attachment.id }}">{{ attachment.filename }}</a>
                {% else %}
                  {{ attachment.filename }}
                {% endif %}
              </td>
              <td>
                {{ attachment.content_type }}
              </td>
              <td>
                {% if attachment.id %}
                  <a href="./{{ attachment.id }}" class="btn btn-info"
                     role="button">Open</a>
                {% else %}
                  <code>-- broken link --</code>
                {% endif %}
              </td>
              <td>
                {% if attachment.id %}
                  <a href="./{{ attachment.id }}/raw/{{ attachment.get('filename', 'NO_NAME')}}"
                     class="btn btn-primary" role="button">Original file</a>
                {% else %}
                  <code>-- broken link --</code>
                {% endif %}
              </td>

            </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  {% endif %}



  {% if data.type in ['folder', 'archive', 'email-archive'] %}
    <div class="row">
      <div class="col-lg-12">
        <h5>Files:</h5>
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>Filename</th>
            <th>Content-Type</th>
            <th>Size</th>
            <th>Open</th>
          </tr>
          </thead>
          <tbody>
          {% for file in data.files %}
            <tr>
              <td>
                {% if file.id %}
                  <a href="./{{ file.id }}">{{ file.filename }}</a>
                {% else %}
                  {{ file.filename }}
                {% endif %}
              </td>
              <td>
                {{ file.content_type }}
              </td>
              <td>
                {{ file.size }}
              </td>
              <td>
                {% if file.id %}
                  <a href="./{{ file.id }}" class="btn btn-info"
                     role="button">Open</a>
                {% else %}
                  <code>-- broken link --</code>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

  {%  if data.type == 'html' and 'safe_html' in data %}
    <div class="row">
      <div class="col-lg-12">
        <h5>Stripped HTML</h5>
        <div class="html-container">
          {{ data.safe_html|safe }}
        </div>
      </div>
    </div>

  {%  endif %}

  {% if 'text' in data %}
    <div class="row">
      <div class="col-lg-12">
        <h5>Text</h5>
        <div class="content">{{ data['text'] }}</div>
      </div>
    </div>
  {% endif %}

  {% for ocr_tag, ocr_text in data.get('ocr', {}).items() %}
    <h5>OCR {{ ocr_tag }}</h5>
    <pre class="content">{{ ocr_text }}</pre>
  {% endfor %}

  {% if data.type == 'email' %}
    <div class="row">
      <div class="col-lg-12">
        <h5>Headers & Parts</h5>
        <pre class="content vertical-scroll">{{ data.get('tree', '') }}</pre>
      </div>
    </div>
  {% endif %}

</div>

</body>
