<!doctype html>
<head>
  <meta charset="utf-8">
  <style>
    {{ css }}

    .content {
      margin: 5px;
      border: 1px solid #bbb;
      white-space: pre-wrap;
    }
  </style>
</head>

<body>
<div class="container container-fluid">

  <div class="col-lg-12">

    <h3>{{ data.get('title') or '' }}</h3>

    {% if up != None %}
      <a href="{{ up }}" class="btn btn-info" role="button">Up</a>
    {% endif %}

    {% if data.type != 'folder' %}
      <a href="./{{ id }}/raw/{{ data.filename }}"
         class="btn btn-primary" role="button">Original file</a>

    {% endif %}
  </div>

  <div class="col-lg-12">
    <h4>Meta</h4>

    <table class="table table-striped">
      <tbody>
      <tr>
        <td> Type:</td>
        <td><code>{{ data.type }}</code></td>
      </tr>

      {% if data.type != 'folder' and 'sha1' in data %}
        <tr>
          <td> MD5:</td>
          <td><code>{{ data.md5 }}</code></td>
        </tr>
        <tr>
          <td> SHA1:</td>
          <td><code>{{ data.sha1 }}</code></td>
        </tr>
      {% endif %}


      {% if data.lang %}
        <tr>
          <td> Language:</td>
          <td><code>{{ data.lang }}</code></td>
        </tr>
      {% endif %}

      {% if data['type'] in ['pdf', 'doc'] %}
        <tr>
          <td> Created:</td>
          <td>{{ data['date-created'] }}</td>
        </tr>

        <tr>
          <td> Modified:</td>
          <td>{{ data.date }}</td>
        </tr>
      {% endif %}

      {% if data.type == 'email' %}
        <tr>
          <td> From:</td>
          <td>{{ data.from }}</td>
        </tr>

        <tr>
          <td> To:</td>
          <td>{{ data.to|join(', ') }}</td>
        </tr>

        <tr>
          <td> Date:</td>
          <td>{{ data.date }}</td>
        </tr>

        <tr>
          <td> Subject:</td>
          <td><b>{{ data.subject }}</b></td>
        </tr>

      {% endif %}
      </tbody>
    </table>
  </div>

  {% if attachments %}
    <div class="col-lg-12">
      <h4>Attachments</h4>
      <ul>
        {% for attachment in attachments %}
          <li>
            {% if attachment.id %}
              <a href="./{{ attachment.id }}">{{ attachment.filename }}</a>
            {% else %}
              {{ attachment.filename }}
            {% endif %}
            {{ attachment.content_type }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}



  {% if data.type == 'folder' %}
    <div class="col-lg-12">
      <h4>Files:</h4>
      <ul>
        {% for file in data.files %}
          <li>
            <a href="{{ file.id }}">
              {{ file.filename }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}


  {% if 'text' in data %}
    <div class="col-lg-12">
      <h4>Text</h4>
      <pre class="content">{{ data['text'] }}</pre>
    </div>
  {% endif %}

  {% if data.type == 'email' %}
    <div class="col-lg-12">
      <h4>Headers & Parts</h4>
      <pre class="content">{{ data.get('tree', '') }}</pre>
    </div>
  {% endif %}

</div>

</body>
