<!doctype html>
<meta charset="utf-8">
<style>
h1 { font-family: monospace; font-size: 16px; white-space: pre-wrap; }
code { white-space: pre-wrap; }
.content { border: 1px solid #bbb; white-space: pre-wrap; }
</style>
<body>

{% if up != None %}
<p><a href="{{ up }}">up</a></p>
{% endif %}

<h1>{{ data.get('title') or '' }}</h1>

{% if data.type != 'folder' %}
<p><a href="./{{ id }}/raw/{{ data.filename }}">original: {{  data.filename }}</a></p>
    {% if 'sha1' in data %}
        <p><b>MD5:</b> <code>{{ data.md5 }}</code></p>
        <p><b>SHA1:</b> <code>{{ data.sha1 }}</code></p>
    {% endif %}
{% endif %}

<p><b>Type:</b> <code>{{ data.type }}</code></p>

{% if data.lang %}
<p><b>Language:</b> <code>{{ data.lang }}</code></p>
{% endif %}

{% if data.type == 'email' %}
  <p><b>From:</b> <code>{{ data.from }}</code></p>
  <p>
    <b>To:</b>
      <code>{{ data.to|join(', ') }}</code>
  </p>
  <p><b>Date:</b> <code>{{ data.date }}</code></p>
  <p><b>Subject:</b> <code>{{ data.subject }}</code></p>

  {% if attachments %}
  <p><b>Attachments:</b></p>
  <ul>
  {% for attachment in attachments %}
    <li>
      {% if attachment.id %}
        <a href="./{{ attachment.id }}">{{ attachment.filename }}</a>
      {% else %}
        {{ attachment.filename }}
      {% endif %}
      {{ attachment.content_type }}
    </li>
  {% endfor %}
  </ul>
  {% endif %}
{% endif %}

{% if data.type == 'folder' %}
  <ul>
  {% for file in data.files %}
    <li><a href="{{ file.id }}">{{ file.filename }}</a></li>
  {% endfor %}
  </ul>
{% endif %}

{% if data['type'] in ['pdf', 'doc'] %}
    <p><b>Created:</b> <code>{{data['date-created']}}</code></p>
    <p><b>Modified:</b> <code>{{data.date}}</code></p>
{% endif %}

<pre class="content">{{ data.get('text', '') }}</pre>

{% if data.type == 'email' %}
  <pre class="content">{{ data.get('tree', '') }}</pre>
{% endif %}
