<!doctype html>
<meta charset="utf-8">
<style>
h1 { font-family: monospace; font-size: 16px; white-space: pre-wrap; }
code { white-space: pre-wrap; }
.content { border: 1px solid #bbb; white-space: pre-wrap; }
</style>
<body>

<h1>{{ data.path }}</h1>

<p><a href="?raw=on">original</a></p>

<p><b>Type:</b> <code>{{ data.type }}</code></p>

{% if data.type == 'email' %}
  <p><b>From:</b> <code>{{ data.from }}</code></p>
  <p>
    <b>To:</b>
    {% for person in data.to %}
      <code>{{ person }}</code>
    {% endfor %}
  </p>
  <p><b>Date:</b> <code>{{ data.date }}</code></p>
  <p><b>Subject:</b> <code>{{ data.subject }}</code></p>

  {% if attachments %}
  <p><b>Attachments:</b></p>
  <ul>
  {% for attachment in attachments %}
    <li>
      {% if attachment.id %}
        <a href="./{{ attachment.id }}">{{ attachment.filename }}</a>
      {% else %}
        {{ attachment.filename }}
      {% endif %}
      {{ attachment.content_type }}
    </li>
  {% endfor %}
  </ul>
  {% endif %}
{% endif %}

<pre class="content">{{ data.text }}</pre>

{% if data.type == 'email' %}
  <pre class="content">{{ data.parts }}</pre>
{% endif %}
